.categories {
	font-family: 'Kanit';
	font-size: 1.2em;
	font-style: 500;
}

.works {
	text-align: center;
}

.thumbnail {
	transition: .5s;
	width: 100px;
	height: 100px;
	background-color: rgb(250,250,250);
	border-radius: 100%;
	box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
	overflow: hidden;
}
.thumbnail:hover {
	opacity: 1;
}
.thumbnail img {
	transition: .2s;
	width: 100px;
	height: 100px;

	margin: 0 -50%;
}
.thumbnail:hover {
	transition: .4s;
	transform: scale(1.2);
}
.thumbnail img:hover {
	transition: .3s;
	transform: scale(1.15);
}

.deselected {
	transition: 0.3s;
	opacity: 0.3;
}

.categories div p {
	transition: 0.35s;
}
.categories div p:hover {
	transition: 0.1s;
	color: rgba(200,200,200,1);
}