body {
  background-color: rgb(240,240,240);
}

.container {
  text-align: center;
  max-width: 1100px;
}
 #rectListener {
  height: 180px;
  width: 180px;
  background-color: rgba(255,0,0,0);
  position: fixed;
  top: 85px;
  left: 50%;
  transform: translate(-50%, 0);
 }


#logo {
  margin: auto ;
  width: 275px;
  height: 298px;
  overflow: hidden;
  background-color: rgb(240,240,240);
}

#logo div {
  border-radius : 50%;
}

h6 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.3em;
  font-weight: 500;
  letter-spacing: 0.3px;
  margin-bottom: -0.2rem;
  position: relative;
  top: -6px;
}

.categories {
    font-family: 'Kanit', sans-serif;
    font-size: 1.2em;
    font-weight: 400;
}
.categories span {
    font-size: 1.85em;
    font-weight: 300;
vertical-align: middle;
}
.categories div {
  /*background-color: #F00;*/
  min-width: 10%;
  height: auto;
  display: inline-block;
  margin: 25px auto;
  padding: 0 2.1%;
}
.categories div p {
    /*background-color: #F0F;*/
    transition: 0.35s;
    margin: 0 auto;
    cursor: pointer;
}
.categories div p:hover {
    transition: 0.1s;
    color: rgba(225, 225, 225, 1);
}

.thumbnail {
    display: inline-block;
    margin: 35px 4% 15px 4%;
    transition: .5s;
    width: 115px;
    height: 115px;
    border-radius: 100%;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    background-size: 115px 115px;
    background-position: center;
    background-color: rgb(240, 240, 240);
}
.thumbnail:hover {
    opacity: 1;
    transition: .4s;
    transform: scale(1.25);
    background-size: 130px 130px;
    background-position: center;
    transition: .3s;
}
.mask {
  transition: .3s;
  width: 100%;
  height: 100%;
  background-color: rgba(225,225,225,.93);
}
.mask:hover {
  transition: .3s;
  width: 100%;
  height: 100%;
  background-color: rgba(230,230,230,0);
}


/*** ------ ***REDIMENSIONNER LES -FICHIERS- pour optimisation*** ------ ***/
#subutex {background-image: url("../images/thumb_subutex.jpg");}
#ngi {background-image: url("../images/thumb_ngi.jpg");}
#irl {background-image: url("../images/thumb_irl.jpg");}
#perrault {background-image: url("../images/thumb_perrault.jpg");}
#dm {background-image: url("../images/thumb_dm.jpg");}
#os {background-image: url("../images/thumb_os.jpg");}
#illus {background-image: url("../images/thumb_illus.jpg");}
#ritz {background-image: url("../images/thumb_ritz.jpg");}
#lh {background-image: url("../images/thumb_lh.jpg");}
#echolocal {background-image: url("../images/thumb_echolocal.jpg");}
.this {background-image: url("../images/thumb_this.png");}

.ppp {
  margin: auto;
  width: 94%;
  max-width: 1280px;
}

.ppp-container {
  margin: 15px;
  padding: 15px 0 0 0;
  text-align: center;
  max-width: 1250px;
  background-color: rgba(240,240,240,1);
  overflow: hidden;
}

.img-container {
  margin: 0px;
  width: 100%;
  height: auto;
  line-height: 0;
  overflow: hidden;
}
.img-container img{
  max-width: 100%;
  max-height: 800px;
}
.img-container video{
  max-width: 137%;
  margin: 0 -50%;
  height: auto;
}
/* pour mobile/tablette
.subutex-video {
margin: 0 -40% 0 -60%;
}*/
.small {
  margin: 0 0.6% 1.2% 0.6%;
  width: 47%;
}

.ppp h2, .ppp h4 {
  font-family: 'Kanit', sans-serif;
  margin: 0;
}
.ppp h2 {
  font-weight: 400;
  padding-top: 15px;
}
.ppp h4 {
  font-size: 1.4em;
  font-weight: 200;
  margin: 0 0 20px 0;
}
.ppp p {
  margin: 20px 0 20px 0;
  padding: 0px 70px;
}

.tablet {
  display: none;
}




.subutexpage {
  background-color: #000;
  color: #FFE;
}



@media (max-width: 720px){
  .ppp-container {
    margin: 12px 0;
  }
  .small {
    width: 96%;
  }
  .ppp p {
    padding: 0px 20px;
  }
  /*.desktop {
    display: none;
  }
  .tablet {
    display: inline-block;
  }*/
}

@media (max-width: 867px){
  #thistablet {
    display: inline-block;
  }
  #thisdesktop {
    display: none;
  }
}
