body{
  background-image: url("fond1.jpg");
  background-size:cover;
  background-position : center;
  font-family: 'Signika Negative', sans-serif;
  transition: 0.5s;
}

.loadinfo{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.topcenter{
  position: fixed;
  width:100vw;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.topright{
  position: fixed;
  width:100vw;
  top: 5vh;
  right: 5vw;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#aboutbutton{
    background-size: contain;
    width:7.5vw;
    height: 7.5vw;
    background-repeat : no-repeat;
    background-image: url("About.png");
    background-color : transparent;
    border : none;
    background-position : center;
}

#closebutton{
    background-size: contain;
    width:7.5vw;
    height: 7.5vw;
    background-repeat : no-repeat;
    background-image: url("Close.png");
    background-color : transparent;
    border : none;
    background-position : center;
}

#launchbutton{
    background-size: contain;
    width:31vw;
    height: 13vw;
    background-repeat : no-repeat;
    background-image: url("lancer.png");
    background-color : transparent;
    border : none;
    background-position : center;
}

#popupiphone {
   position : absolute;
   background-color: rgba(97, 112, 147, 0.92);
   height: 100vh;
   width: 100vw;
   z-index:9990;
   margin: 0;
   color: #FFF;
   text-align: center;
   font-size: 22px;
}

#popupiphone .pictoIphone{
   position : absolute;
   background-size: cover;
   height: 28vw;
   width: 28vw;
   margin: 18vh 36vw 0 36vw;
}

#popupiphone p{
   margin: 47vh 16vw 0 16vw;
}

#popupiphone .pictoIphone:nth-child(1){
  animation: animateLockIphone 2.2s ease-out infinite alternate;
  -webkit-animation: animateLockIphone 2.2s ease-out infinite alternate;
}
#popupiphone .pictoIphone:nth-child(2){
    animation: animateLockIphone 2.2s ease-out 1s infinite alternate;
    -webkit-animation: animateLockIphone 2.2s ease-out 1s infinite alternate;
}
@keyframes animateLockIphone {
    0%, 45%   {opacity: 1;}
    55%, 100% {opacity: 0;}
}
@-webkit-keyframes animateLockIphone {
    0%, 45%   {opacity: 1;}
    55%, 100% {opacity: 0;}
}

#gametitle{
    background-image: url("Title_Launch.png");
    width:75vw;
    height:50vw;
    background-position : center;
    border : none;
    background-color : transparent;
    background-size : contain;
    margin-top : 5vh;
    font-family: 'Kaushan Script', cursive;

}

#loadinfo {
    height: auto;
    width: auto;
    max-height: 40vw;
}

a-scene{
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
}

*{margin:0;padding:0;}

#overlay{ /* we set all of the properties for are overlay */
    height:80%;
    width:80%;
    margin:0 auto;
    background-color: rgba(43, 31, 96, 0.8);
    text-align: center;
    color : white;
    padding:10px;
    position:absolute;
    top:5%;
    left:10%;
    z-index:1000;
    display:none;
    /* CSS 3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

#open-overlay{ /* open the overlay */
    color:white;
    text-decoration:none;
    display:inline-block;
    margin:20px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -o-border-radius:10px;
    border-radius:10px;
}

/* use :target to look for a link to the overlay then we find are mask */
#overlay:target, #overlay:target + #mask{
    display:block;
    opacity:1;
}



#fmod {
    height:10%; /* you can use % */
    width: auto;
}

#aframe {
    height:10%; /* you can use % */
    width: auto;
}
