#looping {
  background-color: #00F;
  width: 50vw;
  height: 50vh;
  position: absolute;
  top: 25vh;
  left: 25vw;
  /*animation: animLooping 5s infinite;*/
}

/*@keyframes animLooping {
  0% {
      background-color: #00F;
    }

  50% {
      background-color: #0FF;
    }

  100% {
      background-color: #0F0;
    }
}*/
