#looping {
  background-color: rgba(20,20,20,0.2);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../Looping.gif");
  background-size: contain;
  /*opacity: 0.5;*/
  animation-name: animLooping;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes animLooping {
  0% { opacity: 0.0; }
  50% { opacity: 0.9; }
  100% { opacity: 0.0; }
}
